# Arquivos de Cache e Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente Virtual
venv/
env/
.venv/
.env/

# Banco de Dados
*.sqlite3
db.sqlite3

# Arquivos de IDEs
.idea/
.vscode/

# Arquivos de Dependências (se aplicável)
/static/
/media/

# Arquivos de Configuração Sensíveis
.env